.card {
  width: 330px;
  height: 420px;              
  border-radius: 22px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative; 
  overflow: hidden;
}


.infoBox {
  position: absolute;
  bottom: 20px;       
  left: 50%;
  transform: translateX(-50%);

  width: 85%;
  background: #fff;
  padding: 30px 22px;
  border-radius: 14px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.15);


  display: flex;
  flex-direction: column;
  gap: 10px;
}

.topRow {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #6a6f73;
  border: 1px solid #a7afb6 ;
  width: fit-content;        
  border-radius: 5px;
}

.icon {
  font-size: 16px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.count {
  padding: 2px 8px;
  border-radius: 6px;
  font-size: 14px;
}

.title {
  margin-top: 12px;
  font-size: 20px;
  color: #1c1d1f;
}

.arrow {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 20px;
  cursor: pointer;
}
