* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin:0 70px;
}

.image-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.image-container img {
    display: block;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 72px;                
    transform: translateY(-50%);

    width: 300px;      
    height: 180px;
    background: #ffffff;
    padding: 48px;             
    border-radius: 4px;

    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12); 
    
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.overlay h1 {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    margin: 0;
    color: #1c1d1f; 
}

.overlay p {
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    color: #2d2f31;
}

.learn-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 40px 0;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.learn-text {
  max-width: 300px;
  flex-shrink: 0;
}

.learn-text h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 12px;
  color: #1c1d1f;
}

.learn-text p {
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    color: #2d2f31;
}

.carousel {
    position: relative;
    bottom: 20px;           
    left: 53%;
}

.career-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: oklch(25.65% 0.0265 278.04deg);
    padding: 60px 50px;
    border-radius: 24px;
    color: white;
    gap: 50px;
    width: 90%;
    margin: 50px;
}


.career-text {
    max-width: 450px;
}

.career-text h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 16px;
}

.career-text p {
    font-size: 16px;
    line-height: 1.6;
    color: #d1d1d6;
    margin-bottom: 10px;
}

.icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px 40px;
    margin: 30px 0;
}

.item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #1c1d21;
}

.item p {
    margin: 0;
    color: #d8d8dd;
}

.btn-career {
    background: white;
    color: #1c1c1f;
    border: none;
    padding: 14px 32px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}

.career-container img {
    height: 480px;
    border-radius: 18px;
    object-fit: cover;
}

.skill-text {
    max-width: 800px;
    align-self: flex-start;
}

.skill-text h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #1c1d1f;
    margin-bottom: 10px;
    line-height: 1.2;
}

.skill-text p {
    font-size: 1rem;
    color: #6a6f73;
    line-height: 1.6;
    margin: 0;
}


.courses-tabs {
  display: flex;
  gap: 32px;
  margin-bottom: 0px;
  align-self: flex-start;
  border-bottom: 1px solid #1a1a1a2b;
  width: 100%;
  
}

.course-tab {
  padding: 0px 6px 8px;
  cursor: pointer;
}

.course-tab h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #5c6c74;
}

.course-tab.active {
  border-bottom: 1px solid #1a1a1a;
}

.course-tab h3.active {
  font-weight: 700;
  color: #1a1a1a;
  border-bottom: none;
}

.courses-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: flex-start;
    overflow: visible !important;
    position: relative;
}

.show-all-btn {
  font-size: 18px;
  font-weight: 600;
  color: #5524d0ce;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 6px;
  transition: all 0.2s ease;
  align-self: flex-start;
  /* margin-bottom: 10px; */
}

.show-all-btn:hover {
  background: rgba(86, 36, 208, 0.15); 
  /* color: #401a9f; */
}
