.footer-section {
  width: 100%;
  max-width: 100%;
  background: #f7f8fa;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:0;
  max-height: 70px;
  padding-bottom: 60px;
}

.footer-title {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.footer-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    max-width: 1400px;
}

.footer-logos img {
  width: 90%;
  max-width: 50px;
  object-fit: contain;
}
